<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.flashcards.app">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application android:label="Flashcards"
                 android:theme="@style/MyTheme.NoActionBar"
                 android:allowBackup="true">
    </application>
</manifest>